#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;

    .search-bar {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        input {
            padding: 0.5rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            outline: none;
        }
    }
}