/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
}

:root {
    --primary-color: #9087f9;

    --sidebar-light: #efeef0;
}

html, body { height: 100%; font-size: 15px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h5 {
    font-size: 1.125rem;
    line-height: 1.75rem;
}