#sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 10px;

    .sidebar-menu {
        ul {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            list-style: none;

            a {
                color: #000;
                text-decoration: none;
                padding: 8px 10px;
                transition: all 0.2s ease-in-out;
                border-radius: 5px;

                &:hover {
                    background-color: var(--sidebar-light);
                }

                &.active {
                    background-color: var(--primary-color);
                    color: #ffff;

                    svg {
                        fill: #fff;
                    }
                }

                li {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    font-weight: 300;
                    font-size: 1rem;
                }
                
            }
        }
    }
}